@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400;500&family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/amonus');
*{
    box-sizing: border-box;
}
#money{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
body{
    padding: 0;
    margin: 0;
    
    color: black;
    font-family: "Poppins";
    background-image: url(images/motorbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    

}


#otor{
    width: 100%;
    height: 100%;
}
.navbar2 {
  
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-logo2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 1;
}

.navllogo2 {
    color: rgb(255, 255, 255);
    font-family: 'Amonus', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;                                  
    font-size: 2em; 
   
}

.navbar-logo2 {
    text-decoration: none;
}
.categories {
    
    margin-top: 100px;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
}

.categories ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.categories li {
    white-space: wrap;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 18px  !important;
    font-weight: 900;
    color: rgb(104, 104, 104);
}
.horizontal-line {
    width: 100%; 
    height: 1px; 
   background-color: rgb(222, 222, 222); 
   
  }
  
.categories li a {
    text-decoration: none;
    display: inline-block;
   
}

#active {
    color: black;
    white-space: nowrap;
}

.categories li:hover {
    color: rgb(54, 54, 54);
}
.card-text {
    font-size: 1em !important;
    font-weight: 700 !important;
display: flex;
justify-content: center;
align-items: center;
    }
@media only screen and (max-width:500px){
.categories li{
    font-size: 18px;
}
.t-shirtsimg{
    height: 100%;
    width: 100%;
}}
@media only screen and (min-width:500px){
    .t-shirts-container {
        display: flex; /* This will create a flex container */
        justify-content: space-between;
        display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;  /* This will evenly distribute the t-shirts horizontally */
      }
      
      .t-shirt {
        display: flex; /* This will create a flex container for each t-shirt and its text */
        flex-direction: column; /* Stack the image and text vertically */
        align-items: center;
        justify-content: center; /* Center the items horizontally within each t-shirt container */
      }
      
      .t-shirtsimg {
        width: 100%;
        max-width: 300px; /* Set the maximum width of the image */
        height: auto; / /* Make sure the image fits within its container */
      }
     
}
@media only screen and (max-width:390px){
    .categories li{
        font-size: 16px  !important;
    }
    @media only screen and (max-width:320px){
        .categories li{
            font-size: 14px  !important;
        }
    }    
    }
