@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400;500&family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/amonus');
@import url('https://fonts.cdnfonts.com/css/redwinger-personal-use');

*{
    box-sizing: border-box;
}
body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navllogo{
    color: rgb(0, 0, 0);
    margin-left: 10px;
  font-family: 'Amonus', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;                                  
                                                
    font-size: 20px;   
    
}
.navbar {
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color:rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-nav {
   
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold
    
    
}
.nav-link:hover{
    text-decoration: underline;
}
.navllogo{
    color: white;
}
.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    
}

#hh1{
margin-top: 100px;
text-align: center;
}
#pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
abbr{
    color: red;
    text-decoration: underline;
}
#p4{
    font-weight: bold;
}
#p2{
    font-weight: bold;
    margin-top: 400px;
    text-align: center;
    font-size: 1.5em;
    float: left;
    text-align: left;
}
.txtp{
    margin-top: 500px;
}
.ppp1{
    white-space: nowrap;
    margin-bottom: 100px; 
}
#p4{
     margin-top: -270px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
margin-bottom: -200px;
    }
#p1{
   font-weight: bold;
    margin-bottom: 600px;
    font-size: 1.5em; /* Updated */
    margin-bottom: 140px;  Updated 
    text-align: left;
    float: left;
    margin-left: -100px;
}
.txt {
    justify-content: left;
    text-align: left;
    margin-top: 100px;
    font-family: 'Redwinger Personal Use', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: rgb(0, 0, 0); 
   margin-bottom: 700px;
  margin-left: 25px;                                
}
.image-container{
    width: 100%;
    height: 100%;

}


.image1 {
    margin-bottom: 300px;
    width:  90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
    object-fit: cover;
    border-radius: 40px;
    margin-right: 50px;
    float: right;
    height: 480px;
} 
    
   

.image2{
    display: none;
    width: 100%;
    height: 100%;
 }
 @media only screen and (min-width:520px){
    .p11{
        display: none;
    }
 }
 @media only screen and (max-width: 520px){ 
  
    #p1, #p2,#p4 {
       display: none;
    }
    .p11{
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
    .image1{
      display: none;
    border-radius: 40px;
   
    }
    .txt {
        position: absolute;
    top:   40px;
    left: 40px;
    color: white;
    }
    .image2{
      display: block;
    }
.navbar{
    background-color: black;
}
.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.navllogo{
    color: rgb(255, 255, 255);
}
 }

