@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400;500&family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/amonus');
@import url('https://fonts.cdnfonts.com/css/redwinger-personal-use');

*{
    box-sizing: border-box;
}
body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navllogo{
    color: rgb(0, 0, 0);
    margin-left: 10px;
  font-family: 'Amonus', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;                                  
                                                
    font-size: 20px;   
    
}
.navbar {
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color:rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-nav {
   
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold
    
    
}
.nav-link:hover{
    text-decoration: underline;
}
.navllogo{
    color: white;
}
.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    
}

#hh1{
margin-top: 100px;
text-align: center;
}
#pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
abbr{
    color: red;
    text-decoration: underline;
}
#p4{
    font-weight: bold;
}
#p2{
    font-weight: bold;
    margin-top: 400px;
    text-align: center;
    font-size: 1.5em;
    float: left;
    text-align: left;
}
.txtp{
    margin-top: 600px;

}
.ppp1{
    white-space: nowrap;
    margin-bottom: 100px; 
}
#p4{
     margin-left: 15px;
    margin-top: -250px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    display: flex;
margin-bottom: -200px;
    }
#p5{
    margin-top: 140px;
    font-weight: bolder;
    text-align: left; 
    margin-left: -500px;
font-size: 1.5em;

}

    #p6{
    text-align: center;
    font-weight: bolder;
font-size: 1.5em;
  text-align: left; 
margin-left: -495px;
margin-bottom: 150px;
}
.gold-txt{
    color: goldenrod;
    text-decoration: underline;
}
    #p1{
        white-space: nowrap;
        font-weight: bolder;
        font-size: 1.5em;
        text-align: left; 
    margin-bottom: 600px;
     /* Updated */
    margin-bottom: 400px;  
    
   
    
    margin-left: -230px;

}
.txt {
    justify-content: left;
    text-align: left;
    margin-top: 100px;
    font-family: 'Redwinger Personal Use', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: rgb(0, 0, 0); 
   margin-bottom: 750px;
  margin-left: 25px;                                
}
.image-container{
    width: 100%;
    height: 100%;
    
    

}
.logos-containerpc{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 220px;
    margin-right: 28px;
    margin-left: 280px;
    
}
.carlogopc{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    max-width: 100%;
  height: auto;
}

 .logos-containercopy{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 220px;
    margin-right: 28px;
    margin-left: 10px;
 }

 .carlogocopy{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    max-width: 100%;
  height: auto;
 }
.logos-container {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 220px;
    margin-right: 28px;
    margin-left: 10px;
    
  }
.carlogo{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    max-width: 100%;
  height: auto;
}
.pic3{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    max-width: 100%;
  height: auto;
}


.image1 {
    margin-bottom: 300px;
    width:  60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px; 
    object-fit: cover;
    border-radius: 40px;
    margin-right: 50px;
    float: right;
    height:  460px;
}    
   

.image2{
    display: none;
    width: 100%;
    height: 100%;
 }
 @media only screen and (min-width:520px){
    #bar{
        display: none;
    }
    .logos-container {
        display: none;
    }
    .logos-containercopy{
        display: none;
    }
    
    
    .p11{
        display: none;
    }
 }
 @media only screen and (max-width: 520px){ 
    #darktheme{
        position: relative;
      left: 60px;
      top: -2px;
    }
    
    #buycars, #services, #contact{
        display: none;
    }
    
    .carlogopc{
        display: none;
    }
    .logos-containerpc{
        display: none;
    }
    
    .logos-containercopy{
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 28px;
        
        transform: translateY(-420px);
        
      
        align-items:left    ;
    
    }
    .logos-container {
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 28px;
        margin-top: 230px;
        transform: translateY(-220px);
        
      
        align-items:left    ;
    
    }
.pic3{
    display: none;
}

    #p1, #p2,#p4, #p6, #p5 {
       display: none;
    }
    .p11{
        text-align: center;
        font-weight: bold;
        font-size: 1em;
    }
    .image1{
      display: none;
    border-radius: 40px;
   
    }
    .txt {
        position: absolute;
    top:   40px;
    left: 40px;
    color: white;
    }
    .image2{
      display: block;
    }
.navbar{
    background-color: black;
}
.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.navllogo{
    color: rgb(255, 255, 255);
}
 }
 @media only screen and (max-width:376px){
    .logos-containercopy{
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 10px;
        
        transform: translateY(-420px);
        
      
        align-items:left    ;
    
    }
    .logos-container {
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 10px;
        margin-top: 230px;
        transform: translateY(-220px);
        
      
        align-items:left    ;
    
    }

 }
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  .switch input[type="checkbox"]:focus {
    outline: none;
  }
