/*@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400;500&family=Poppins&display=swap');*/
@import url('https://fonts.cdnfonts.com/css/amonus');
@import url('https://fonts.cdnfonts.com/css/redwinger-personal-use');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400;500&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400;500&family=Poppins:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navllogo{
    color: rgb(0, 0, 0);
    margin-left: 10px;
  font-family: 'Amonus', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;                                  
                                     
    font-size: 25px;   
    
}
.btn{
    padding: 10px;
    background-color: white;
    font-weight: bold;
    box-shadow: 0 0 6px white;
    border-radius: 10px;
    border: none;
    margin-left: -30px;
}


.navbar {
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color:rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-nav {
   
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold
    
    
}
.nav-link:hover{
    text-decoration: underline;
}
.navllogo{
    color: white;
}
.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    
}

#hh1{
margin-top: 100px;
text-align: center;
}
#pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
abbr{
    color: red;
    text-decoration: underline;
}
#p4{
    font-weight: bold;
}
#p2{
    font-weight: bold;
    margin-top: 400px;
    text-align: center;
    font-size: 1.5em;
    float: left;
    text-align: left;
}
.txtp{
    margin-top: 600px;

}
.ppp1{
    white-space: nowrap;
    margin-bottom: 100px; 
}
#p4{
     margin-left: 15px;
    margin-top: 250px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    display: flex;
margin-bottom: -200px;
    }
#p5{
    margin-top: 140px;
    font-weight: bolder;
    text-align: left; 
    margin-left: -440px;
font-size: 1.5em;

}

    #p6{
    text-align: center;
    font-weight: bolder;
font-size: 1.5em;
  text-align: left; 
margin-left: -440px;
margin-bottom: 150px;
}
.gold-txt{
    color: goldenrod;
    
}
    #p1{
        white-space: nowrap;
        font-weight: bolder;
        font-size: 1.5em;
        text-align: left; 
    margin-bottom: 600px;
     /* Updated */
    margin-bottom: 400px;  
    
   
    
    margin-left: -230px;

}


.red-color{
    color: red;
    text-decoration: none;
}
#indulge{
    display: flex;
    justify-content: center;
    font: bold;
    margin-top: 50px;
   
}
#buycars{
    border: 2px solid white;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;

}
#buycars:hover{
    background-color: white;
    color: black;
    transition: all 0.5s ease;
}
.txt {
    font-weight: bolder;
    justify-content: left;
    text-align: left;
    margin-top: 100px;
   
   color: rgb(0, 0, 0); 
   margin-bottom: 750px;
  margin-left: 25px;                                
}
.image-container{
    width: 100%;
    height: 100%;
    
    

}
.logos-containerpc{
   text-align: center;
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-left: -80px;
}
.logo-item {
    height: 100%;
    width: 15%;
    margin: 100px; 
    margin-top: -70px;
}

.carlogopc{
   height: 20%;
   width: 150%;
   margin: 0px;
  
  display: flex;
  justify-content: center;
  align-items: center;
   
}
.p11pc{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-weight: 700;
font-size: 20px;
margin-bottom: 25px;
margin-top: -25px;
}
.txtpc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -250px;
    font-weight: 900;
    font-size: 5em;
}
 .logos-containercopy{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 220px;
    margin-right: 28px;
    margin-left: 10px;
 }

 .carlogocopy{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    max-width: 100%;
  height: auto;
 }
.logos-container {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 220px;
    margin-right: 28px;
    margin-left: 10px;
    
  }
 
.carlogo{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    max-width: 100%;
  height: auto;
}
.pic3{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    max-width: 100%;
  height: auto;
}


.image1 {
    
    width:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
    object-fit: cover;
    border-radius: 40px;
    margin-right: 50px;
    float: right;
    height:  50%;
}    
  #imgcar{
    display: none;
    width: 100%;
    height: 100%;
  } 

.image2{
    display: none;
    width: 100%;
    height: 100%;
 }
 #darktheme{
    margin-left: 10px;
 }
 
 .picspc{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 250px;
    width:450px;
    border-radius: 30px;
    margin-right: 5px;
 }
 #pic1{
    margin-right: -60px;
   margin-top: 40px;
    
 }
 .picspc img{
    object-fit: cover; 
 }
 #flagraceimg{
    width: 100%;
    height: 1000px;
 }
 .tttxt2{
    white-space: nowrap;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        display: inline-block;
        margin-bottom: -30px;
        
 }
 @media only screen and (min-width:922px){
    #qtxt{
        font-size: 1.5em;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn1{
        background-color: rgb(255, 254, 254);
        color: rgb(0, 0, 0);
        padding-left: -2px;
        padding-right: -2px;
        border-radius: 10px;
        padding: 10px;
        font-size: 25px;
        transition: all 0.3s ease-in-out;
        margin-right: 10px;
        border: 1px solid black;
        font-weight: 700;
    }
    .btn3{
        display: none;
    }
    
    .btn2{
        display: none;
    }
    
    .btn{
        margin-top: 460px;
        margin-left: -700px;
        background-color: rgb(0, 0, 0);
        color: white;
        padding-left: -2px;
        padding-right: -2px;
        border-radius: 10px;
        padding: 10px;
        font-size: 25px;
        transition: all 0.3s ease-in-out;
        margin-right: 10px;
    }
    .center-container{
        display: none;
    }
    .btn:hover{
        background-color: rgb(27, 27, 27);
        
    }
    .navllogo{
        color: black;
    }
    #motor{
        border: 2px solid rgb(0, 0, 0);
        padding: 8px;
        color: black;
        border-radius: 10px;
        text-decoration: none;
        padding-left: -2px;
        padding-right: -2px;
       transition: all 0.3s ease-in-out;
    }
    #motor:hover{
        background-color: black;
        color: white;
    }
    #buycars{
        border: 2px solid rgb(255, 255, 255);
        padding: 8px;
        background-color: black;
        border-radius: 10px;
        text-decoration: none;
        padding-left: -2px;
        padding-right: -2px;
        color: white;
    }
    #buycars:hover{
       background-color: black;
       color: white;
    }
    .nav-link{
    color: black;
   }
    .navbar{
    background-color: white;
    border-bottom: 2px solid black; 
   }
    #image11{
    margin-top:30px;
        margin-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
        height:70%;
    width: 70%;
   }
   .image-container {
    text-align: center;
    
  }
    #shoplogo{
        display: none;
    }
    .txt {
       
        font-weight: 900;
        justify-content: left;
        font-family: "Poppins";
        margin-top: 140px;
        margin-left: 150px;
        font-size: 3.5em;
        text-align: center;
       color: rgb(0, 0, 0); 
       margin-bottom: 750px;
      margin-right: -45px;                                
    }
    #p5{
        text-align: center;
    }
    #p6{
        margin-top: 10px;
        text-align:center;
        margin-left: -515px;
        font-size: 22px;
        color: rgb(0, 0, 0);
        font-weight: 700;
    }
    #p1{
        margin-top: 55px;
        margin-left: -425px;
        margin-right: 10px;
        font-size: 20px;
    }
    .txt2{
        display: none;
    }
    #bar{
        display: none;
    }
    .logos-container {
        display: none;    }
    .logos-containercopy{
        display: none;
    }
    
    
    .p11{
        display: none;
    }
        .txtphn{
            display: none;
        }
        .btn4{
            display: none;
        }
        .modelsimg{
            height: 600px;
            width: 500px;
            margin-top: 70px;
        }
        .center-container{
            display: none;
        }
 }
 
 @media only screen and (max-width: 922px){ 
    .txtpc{
        display: none;
    }
    .p11pc{
        display: none;
    }
    
    
    .center-container {
        text-align: center;
    }
    .theimages{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tttxt {
        white-space: nowrap;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        display: inline-block;
        margin-bottom: -30px;
    }
    
    #pic{
    display: none;
 }
    .quality{
        display: none;
        
    }
    .btn4{
        margin-top:1380px;
        margin-bottom: 400px;
        
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 25px;
        display: block;
        background-color: black;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn3 {
        margin-top: 1300px;
        margin-bottom: 100px;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 10px;
        padding: 10px;
        font-size: 25px;
        display: block;
        border: none;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #motor{
        display: none;
    }
    .btn1{
        display: none;
    }
    #space{
        width: 100%;
        height: 100%;
        margin-top: -200px;
    }
    
    .txtphn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    font-weight: 900;
  }
    #ocean{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 70px;
  }
    .btn{
    display: none;
  }
    .pics{
    display: none;
  }
    #shoplogo{
    margin-left: 20px;
  }
  #contactlogo{
    margin-left: -100px;
  }
    #bar{
    margin-left: 120px;
   }
    #instagram{
        margin-left: 35px;
        
    }
   
   #experiencemobile{
        margin-bottom: 210px;
        text-align: center;
        font-weight: bolder;
        margin-top: 10px;
        font-size: 16px;
        margin-right:5px ;
    }
   .cust{
    display: none;
   }
    
    #imgcar{
display: block;
width: 100%;
    }
    
    #discovermobile{
        margin-top: -400px;
        text-align: center;
        font-weight: 700;

    }
    
    #darktheme{
        position: relative;
      left: -170px;
      top: -2px;
    }
    
    #buycars, #services, #contact{
        display: none;
    }
    
    .carlogopc{
        display: none;
    }
    .logos-containerpc{
        display: none;
    }
    
    .logos-containercopy{
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 28px;
        
        transform: translateY(-420px);
        
      
        align-items:left    ;
    
    }
    .logos-container {
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 28px;
        margin-top: 230px;
        transform: translateY(-220px);
        
      
        align-items:left    ;
    
    }
.pic3{
    display: none;
}

    #p1, #p2,#p4, #p6, #p5 {
       display: none;
    }
    .p11{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }
    #Offer{
        font-size: 20px;
    }

    .image1{
      display: none;
    border-radius: 40px;
   width: 100%;
    }
    .txt {
        position: absolute;
    top:   40px;
    left: 10px;
    color: rgb(255, 255, 255);
    display: none;
    }
    .image2{
      display: block;
      margin-top: 5px;
      height: 100%;
    }
.navbar{
    background-color: black;
}
.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.navllogo{
    color: rgb(255, 255, 255);
}
 }
 @media only screen and (max-width:376px){
    .logos-containercopy{
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 10px;
        
        transform: translateY(-420px);
        
      
        align-items:left    ;
    
    }
    .logos-container {
        height: 100px;
        width: 100px;
        display: flex;
        margin-right: 28px;
        margin-left: 10px;
        margin-top: 230px;
        transform: translateY(-220px);
        
      
        align-items:left    ;
    
    }

 }
